aiofiles==24.1.0
attrs==25.1.0
blinker==1.9.0
cattrs==24.1.2
click==8.1.8
docstring-to-markdown==0.15
exceptiongroup==1.2.2
Flask==3.1.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
Hypercorn==0.17.3
hyperframe==6.1.0
itsdangerous==2.2.0
jedi-language-server==0.43.1
Jinja2==3.1.5
lsprotocol==2023.0.1
MarkupSafe==3.0.2
packaging==24.2
parso==0.8.4
priority==2.0.0
pyaes==1.6.1
pyasn1==0.6.1
pygls==1.3.1
Quart==0.20.0
rsa==4.9
taskgroup==0.2.2
Telethon==1.37.0
tomli==2.2.1
typing_extensions==4.12.2
Werkzeug==3.1.3
wsproto==1.2.0
